Source: nextcloud
Section: devel
Priority: optional
Maintainer: struktur AG <opensource@struktur.de>
Uploaders:
 Joachim Bauch <bauch@struktur.de>
 Simon Eisenmann <simon@struktur.de>
Build-Depends:
 debhelper (>= 7.0.50~),
 quilt
Standards-Version: 3.9.3

Package: nextcloud
Architecture: all
Depends:
 ${misc:Depends},
 nextcloud-server (= ${binary:Version})
Recommends:
 curl
Suggests:
 exim4 | mail-transport-agent,
 libreoffice-writer,
 mysql-server | mariadb-server,
 smbclient
Provides: nextcloud
Description: The Nextcloud Server - Private file sync and share server
 Nextcloud Server provides you a private file sync and share
 cloud. Host this server to easily sync business or private documents
 across all your devices, and share those documents with other users of
 your Nextcloud server on their devices.
 .
 Nextcloud - A safe home for all your data!  nextcloud.com

Package: nextcloud-server
Architecture: all
Depends:
 ${misc:Depends},
 ca-certificates,
 cron,
 nextcloud-server-php,
 nextcloud-server-php7.0 (= ${binary:Version}) | nextcloud-server-php5 (= ${binary:Version})
Description: The Nextcloud server package
 .
 A complete Nextcloud server system install package.

Package: nextcloud-server-php5
Architecture: all
Depends:
 php5-common,
 php5-cli,
 php5-curl,
 php5-gd,
 php5-intl,
 php5-json,
 php5-ldap,
 php5-mcrypt,
 php5-sqlite
# Don't recommend php5-apcu for Ubuntu-14.04 https://github.com/owncloud/core/issues/14188
# Don't use apcu before 4.0.6 https://github.com/owncloud/core/issues/14175
Suggests:
 php5-apcu (>= 4.0.6) | php-apc,
 php5-mysqlnd | php5-mysql,
 php5-pgsql
Provides: nextcloud-server-php
Conflicts: nextcloud-server-php
Description: PHP5 dependencies for Nextcloud
 .
 This is a dependency package for Nextcloud with PHP5.

Package: nextcloud-server-php7.0
Architecture: all
Depends:
 php7.0-common,
 php7.0-cli,
 php7.0-curl,
 php7.0-gd,
 php7.0-intl,
 php7.0-json,
 php7.0-ldap,
 php7.0-mcrypt,
 php7.0-sqlite | php7.0-sqlite3,
Suggests:
 php7.0-apcu,
 php7.0-mysqlnd | php7.0-mysql,
 php7.0-pgsql
Provides: nextcloud-server-php
Conflicts: nextcloud-server-php
Description: PHP7.0 dependencies for Nextcloud
 .
 This is a dependency package for Nextcloud witH PHP7.0.

Package: nextcloud-occ
Architecture: all
Depends:
 bash,
 nextcloud-server (= ${binary:Version}),
 ${misc:Depends}
Description: The Nextcloud commandline client
 .
 Provides system wide occ commandline client for Nextcloud.
